
* { font-family: 'ＭＳ ゴシック','ＭＳ Ｐゴシック'; }

a img { border-width: 0; }

body { background: #000; margin: 0; }

div#game { 
 background-color: #fff;
 position:absolute; top:25px; left:20px;
 height: 450px;
 text-align: center;
 width: 600px;
 }
